[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tuf = "*"
securesystemslib = "*"
dynaconf = "*"
configobj = "*"
hvac = "*"
cryptography = "*"
pynacl = "*"
celery = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pretend = "*"

[requires]
python_version = "3.9"
