[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.99.1"
uvicorn = "*"
dynaconf = "*"
celery = "*"
python-multipart = "*"
redis = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pretend = "*"
voluptuous = "*"
cryptography = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-openapi = "*"
mistune = "==0.8.4"
myst-parser = "*"
pre-commit = "*"
bandit = "*"
httpx = "*"

[requires]
python_version = "3.10"
