-i https://pypi.org/simple
amqp==5.1.1 ; python_version >= '3.6'
anyio==3.6.2 ; python_full_version >= '3.6.2'
async-timeout==4.0.2 ; python_full_version <= '3.11.2'
bcrypt==4.0.1
billiard==3.6.4.0
celery==5.2.7
click==8.1.3 ; python_version >= '3.7'
click-didyoumean==0.3.0 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.2.0
configobj==5.0.8
dynaconf==3.1.12
ecdsa==0.18.0 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
fastapi==0.95.0
greenlet==2.0.2 ; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
h11==0.14.0 ; python_version >= '3.7'
idna==3.4 ; python_version >= '3.5'
kombu==5.2.4 ; python_version >= '3.7'
prompt-toolkit==3.0.38 ; python_full_version >= '3.7.0'
pyasn1==0.4.8
pydantic==1.10.7 ; python_version >= '3.7'
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
redis==4.5.4
rsa==4.9 ; python_version >= '3.6' and python_version < '4'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0 ; python_version >= '3.7'
sqlalchemy==2.0.9
starlette==0.26.1 ; python_version >= '3.7'
typing-extensions==4.5.0 ; python_version >= '3.7'
uvicorn==0.21.1
vine==5.0.0 ; python_version >= '3.6'
wcwidth==0.2.6
