name: CD

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      worker_version:
        description: "Worker Version"
        default: "latest"
        type: string
        required: False
      cli_version:
        description: "CLI Version"
        default: "latest"
        type: string
        required: False

jobs:
  publish-container-image:
    uses: ./.github/workflows/publish_container.yml
    with:
      image_version: ${{ github.sha }}

  set-component-versions:
    needs: publish-container-image
    runs-on: ubuntu-latest
    outputs:
      worker_version: ${{ steps.worker_version.outputs.VERSION }}
      cli_version: ${{ steps.cli_version.outputs.VERSION }}

    steps:
      - id: worker_version
        name: dynamic input worker version
        run: |
          if [[ "${{ inputs.worker_version }}" == "" ]]; then echo "VERSION=latest" >> $GITHUB_OUTPUT; else echo "VERSION=${{ inputs.worker_version }}" >> $GITHUB_OUTPUT;fi

      - id: cli_version
        name: dynamic input cli version
        run: |
          if [[ "${{ inputs.cli_version }}" == "" ]]; then echo "VERSION=latest" >> $GITHUB_OUTPUT; else echo "VERSION=${{ inputs.cli_version }}" >> $GITHUB_OUTPUT;fi

  functional-tests:
    needs: set-component-versions
    name: FT Deploy Local Services
    uses: ./.github/workflows/functional-tests.yml
    with:
      worker_version: ${{ needs.set-component-versions.outputs.worker_version }}
      cli_version: ${{ needs.set-component-versions.outputs.cli_version }}

  release:
    runs-on: ubuntu-latest
    needs: functional-tests
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Add release branch/tag name
      run: |
        docker pull ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }}
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-api:latest
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-api:latest

    - name: Publish GitHub Release
      uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref }}
        body: "docker pull [ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}](https://github.com/repository-service-tuf/repository-service-tuf-api/pkgs/container/repository-service-tuf-api)"
        files: /tmp/repository-service-tuf-api_${{ github.ref_name }}.tar
