name: CD

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      worker_version:
        description: "Worker Version"
        default: "latest"
        type: string
        required: False
      cli_version:
        description: "CLI Version"
        default: "latest"
        type: string
        required: False

jobs:
  publish-container-image:
    uses: ./.github/workflows/publish_container.yml
    with:
      image_version: ${{ github.sha }}

  functional-tests-local:
    name: FT Deploy Local Services
    uses: ./.github/workflows/functional-tests.yml
    with:
      worker_version: ${{ inputs.worker_version }}
      cli_version: ${{ inputs.cli_version }}

  release:
    runs-on: ubuntu-latest
    needs: functional-tests
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Add release branch/tag name
      run: |
        docker pull ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }}
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-api:latest
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-api:latest

    - name: Publish GitHub Release
      uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref }}
        body: "docker pull [ghcr.io/repository-service-tuf/repository-service-tuf-api:${{ github.ref_name }}](https://github.com/repository-service-tuf/repository-service-tuf-api/pkgs/container/repository-service-tuf-api)"
        files: /tmp/repository-service-tuf-api_${{ github.ref_name }}.tar
